# Laravel (backend)
backend/vendor
backend/.env
backend/node_modules
backend/public/storage
backend/storage/*.key
backend/.env.*.php

# React (frontend)
frontend/node_modules
frontend/build

# Global
*.log
.DS_Store
