
/*** Spinner Start ***/
*{
    font-family: sans-serif;
}
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .8s ease-out, visibility 0s linear .5s;
    z-index: 99999;
 }

 #spinner.show {
     transition: opacity .8s ease-out, visibility 0s linear .0s;
     visibility: visible;
     opacity: 1;
 }

/*** Spinner End ***/

.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    width: 58px;
    height: 58px;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.btn {
    text-transform: uppercase;
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary {
    box-shadow: inset 0 0 0 0 var(--bs-dark);
}

.btn.btn-primary:hover {
    box-shadow: inset 200px 0 0 0 var(--bs-dark) !important;
    color: var(--bs-primary) !important;
}

.btn.btn-dark {
    box-shadow: inset 0 0 0 0 var(--bs-primary);
}

.btn.btn-dark:hover {
    box-shadow: inset 200px 0 0 0 var(--bs-primary);
    color: var(--bs-dark) !important;
}



/*** Topbar Start ***/

.search-btn {
    position: relative;
    width: 100%;
    padding: 0 0 0 25px;
}

.search-btn .form-group {
    width: 100%;
}

.search-btn button {
    position: absolute;
    right: 25px;
}

@media (max-width: 992px) {
    .search-btn {
        display: none;
    }
}

@media (max-width: 768px) {
    .topbar {
        flex-direction: column;
    }
    .search-btn {
        display: none;
    }
    .topbar-info {
        flex-direction: column;
    }
    .topbar-info a {
        padding: 0 0 10px 0;
    }
    .topbar-icon {
        padding: 0 0 10px 0;
    }
}

@media (max-width: 576px) {
    .topbar-top {
        display: none;
    }
}
.icon{
    color: #000000;
}
/*** Topbar End ***/

/*** Navbar Start ***/
.navbar .navbar-nav {
    padding: 15px 0;
   
}

.navbar .navbar-nav .nav-link {
    padding: 15px;
    color: var(--bs-white);
    font-weight: 500;
    font-size: 16px;
    outline: none;
    transition: .5s;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active  {
    color: var(--bs-primary);
    transition: .5s;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 800;
    vertical-align: middle;
    margin-left: 8px;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        transition: .5s;
        opacity: 0;
    }
}

.dropdown .dropdown-menu a:hover,
.dropdown .dropdown-menu a.active {
    background: var(--bs-dark);
    color: var(--bs-primary);
}

.navbar .nav-item:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    transition: .5s;
    opacity: 1;
}

.navbar-toggler {
    background: var(--bs-secondary);
    color: var(--bs-light) !important;
    padding: 5px 12px;
    border: 2px solid var(--bs-primary) !important;
}

/*** Navbar End ***/



/*** Carousel Start ***/

.carousel-item {
    position: relative;
}

.carousel-item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, .7);
}

.carousel-caption {
    height: 100%;
    display: flex;
    align-items: center;
    text-align: start;
    z-index: 1;
}

.carousel-control-prev {
    width: 80px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 0;
    background: var(--bs-primary);
    border-radius: 0 30px 30px 0;
    transition: .5s;
    opacity: 1;
}


.carousel-control-next {
    width: 80px;
    height: 60px;
    position: absolute;
    top: 50%;
    right: 0;
    background: var(--bs-primary);
    border-radius: 30px 0 0 30px;
    transition: .5s;
    opacity: 1;
}

#carouselId .carousel-indicators li,
#carouselId .carousel-indicators li {
    width: 24px;
    height: 24px;
    background: var(--bs-dark);
    border: 2px solid var(--bs-primary);
    border-radius: 24px;
    margin: 0 10px 30px 10px;
}

#carouselId .carousel-indicators li.active {
    background: var(--bs-primary) !important;
}

@media (max-width: 768px) {
    .carousel-item {
        width: 100%;
        height: 400px;
    }

    .carousel-item img {
        height: 400px;
    }

    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }
    
}

.page-header {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/carousel-2.jpg) center center no-repeat;
    background-size: cover;
    margin-bottom: 6rem;
}

/*** Carousel End ***/


/*** About Start ***/

.about-img {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 30px 30px 30px 30px ;
    overflow: hidden;
}

.about-img::before {
    content: "";
    width: 100%;
    height: 40%;
    background: var(--bs-dark);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    border-radius: 10px 10px 10px 10px;
}


.about-img::after {
    content: "";
    width: 100%;
    height: 60%;
    background: var(--bs-primary);
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    border-radius: 10px 10px 10px 10px;
}

.rotate-left {
    width: 150px;
    height: 100px;
    position: absolute;
    top: 28%;
    left: -10%;
    rotate: 25deg;
    z-index: 2;
}

.rotate-right {
    width: 150px;
    height: 100px;
    position: absolute;
    top: 28%;
    right: -10%;
    rotate: -25deg;
    z-index: 2;
}

.about-img img {
    position: relative;
    z-index: 2;
    border-radius: 10px;
}

.experiences {
    width: 160px;
    height: 200px;
    position: absolute;
    top: -0;
    right: 0;
    padding: 35px 35px;
    text-align: center;
    border-radius: 10px;
    z-index: 3;
    animation: mymove 5s infinite;
    animation-timing-function: ease-in-out;
}

@keyframes mymove {
    from {top: -202px;}
    to {top: 102%;}
}

/*** About End ***/


/*** Services Start ***/
.services-item {
    text-align: center; /* Centrer le contenu */
    position: relative;
    left: 10px;
    width: 300px;
    
}

.services-inner-icon {
    width: 13000px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    position: relative;
    margin: 0 auto; /* Centrer l'icône */
}

.services-inner-icon img {
   width: 1800px;
   height: 172px;
   border-radius: 20px;
}

.services-item h4,
.services-item p {
    text-align: center;
}

.services-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}


/*** Services Start ***/

/*** Project Start ***/
.project-item {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 30px 30px 30px 30px ;
    overflow: hidden;
}

.project-item::before {
    content: "";
    width: 100%;
    height: 40%;
    background: var(--bs-dark);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    border-radius: 10px 10px 10px 10px;
}


.project-item::after {
    content: "";
    width: 100%;
    height: 60%;
    background: var(--bs-primary);
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    border-radius: 10px 10px 10px 10px;
}

.project-left {
    width: 180px;
    height: 70px;
    position: absolute;
    top: 22%;
    left: -18%;
    rotate: 30deg;
    z-index: 2;
}

.project-right {
    width: 180px;
    height: 70px;
    position: absolute;
    top: 22%;
    right: -18%;
    rotate: -30deg;
    z-index: 2;
}

.project-item img {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-item a {
    position: absolute;
    padding: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0) rotate(-360deg);
    border-radius: 10px;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    opacity: 0;
}

.project-item:hover a {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
    background: var(--bs-primary);
    color: var(--bs-dark) !important;
    opacity: 1;

}


/*** prohect Start ***/


/*** Blog Start ***/

.blog-carousel {
    width: 100%;
    height: 100%;
    position: relative;
}


.blog-carousel .owl-nav .owl-prev {
    position: absolute;
    width: 80px;
    height: 50px;
    background: var(--bs-primary);
    top: -51px;
    left: 0;
    border: 0;
    border-radius: 10px 30px 30px 10px;
}

.blog-carousel .owl-nav .owl-prev {
    box-shadow: inset 0 0 0 0 var(--bs-dark);
    transition: .5s;
}

.blog-carousel .owl-nav .owl-prev:hover {
    box-shadow: inset 200px 0 0 0 var(--bs-dark);
    color: var(--bs-primary) !important;
}

.blog-carousel .owl-prev,
.blog-carousel .owl-next {
    color: var(--bs-dark);
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-carousel .owl-nav .owl-next {
    position: absolute;
    width: 80px;
    height: 50px;
    background: var(--bs-primary);
    top: -51px;
    right: 0;
    border-radius: 30px 10px 10px 30px;
}

.blog-carousel .owl-nav .owl-next {
    box-shadow: inset 0 0 0 0 #000000;
    transition: .5s;
}

.blog-carousel .owl-nav .owl-next:hover {
    box-shadow: inset 200px 0 0 0 #000000;
    color: var(--bs-primary) !important;
}

/*** Blog End ***/


/*** Pricing Start ***/
.pricing-item {
    transition: .5s;
    
}

.pricing-item:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    margin: -20px 0 20px 0;
}

.pricing-label {
    border-bottom: 20px solid var(--bs-light);
    border-radius: 0 0 300px 300px;
    transition: .5s;
}

.pricing-item:hover .pricing-label {
    border-color: rgba(0, 0, 0, .5);
}

.pricing-item:hover .pricing-label.pricing-featured {
    border-color: rgba(255, 255, 255, .5);
}


/*** Pricing End ***/


/*** Call To Action start ***/

.call-to-action {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

/*** Call To Action End ***/




/*** testimonial Start ***/
.testimonial-content {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--bs-light);
    z-index: 1;
}

.testimonial-content::before {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50px;
    bottom: -15px;
    rotate: 45deg;
    z-index: -5;
    background: var(--bs-light);
}

.testimonial-carousel {
    position: relative;
    padding-left: 60px;
    padding-right: 60px;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 60px;
    height: 40px;
    background: var(--bs-primary);
    color: var(--bs-dark);
    font-size: 22px;
    top: 14%;
    left: 0px;
    border-radius: 30px 0 0 30px;
    box-shadow: inset 0 0 0 0 var(--bs-dark);
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover {
    box-shadow: inset 200px 0 0 0 var(--bs-dark);
    color: var(--bs-primary) !important;
}

.testimonial-carousel .owl-nav .owl-next {
    left: auto;
    right: 0px;
    border-radius: 0 30px 30px 0;
}

.testimonial-carousel .owl-nav .owl-next:hover {
    box-shadow: inset 200px 0 0 0 var(--bs-dark);
    color: var(--bs-primary) !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: var(--bs-secondary);
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    width: 30px;
    background: var(--bs-primary);
}

/*** testimonial End ***/


/*** Contact Start ***/
.contact-link a i,
.contact-link a h5,
.contact-link a.h5 {
    transition: .5s;
}

.contact-link a i:hover,
.contact-link a h5:hover,
.contact-link a.h5:hover {
    color: var(--bs-primary) !important;
}

/*** Contact End ***/


/*** Footer Start ***/
.footer {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/carousel-2.jpg) center center no-repeat;
    background-size: cover;
    color: rgba(255, 255, 255, .7);
    margin-top: 6rem;
}

.footer-item,
.footer-item a {
    color: rgba(255, 255, 255, .7);
    text-transform: capitalize;
}


/*** Footer End ***/


/*** Copywright Start ***/

.copyright .copyright-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright .copyright-icon {
    width: 44px; 
    height: 44px; 
    display: flex;
    align-items: center; 
    justify-content: center;
}
.copyright{
    position: relative;
    top: 45px;
    
}
.me-3{
    position: relative;
    left: 7px;
}

/*** Copywright End ***/

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.para{
    position: relative;
    top: 100px;
}
.tit{
    position: relative;
    top: 90px;
}
.col-md-6 {
    width: calc(50% - 20px);
    margin-bottom: 40px;
}

h2 {
    font-size: 24px;
    color: #333;
}

p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

/* Animation */
.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.LOGIN{
    width: 1000px;
} 
  
  
  /* sidebar */
 /* Ajoutez ces styles supplémentaires */



/* Sidebar Styles */


  
    
  .menu-link {
    color: #333;
    text-decoration: none;
    padding: 10px;
    background-color: #eee;
  }
  
  .menu-link:hover {
    background-color: #ccc;
  }
  
.dem{
    position: relative;
    left: 300px;
   
}
.doc{
    position: relative;
    left: 300px;
    top: 100px;
}

.clients-container{
    position: fixed;
    left: 300px;
    top:80px;
    width:1700px;

}
.title-infoCL{
    background-color: #e4e3e351;
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    border-radius:8px;
    margin:10px 0; 
    width:1200px;
    

  }

.ajouavis{
    position: relative;
    left: 300px;
}
.add-avispassage-container{
    position: relative;
    left: 10px;
    top: 150px;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.add-avispassage-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  

  
  
  
  
 
  

  

.cl{
    position: relative;

}
.documo{
    position: relative;
    bottom: 20px;
    right:20px;
}

 
  
  
  img {
    max-width: 100%; /* Assure que les images ne dépassent pas la largeur de leur conteneur */
    height: auto; /* Garde le rapport hauteur/largeur des images */
  }

  .doc {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .doc h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .doc form {
    display: grid;
    grid-row-gap: 20px;
  }
  
  .doc label {
    font-weight: 600;
    color: #555;
  }
  
  .doc input[type="text"],
  .doc select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .doc input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff;
  }
  
 .link-name:hover{
    color:black;
 }
 .link:hover{
    color:black;
 }
 .menu-link:hover{
    color: #000000;
    
 }


 .contenn{
    width: 1300px;
    position: fixed;
    left: 220px;
    margin: 10px;
    color: white;
 }
 .title-info{
    background-color: #e4e3e351;
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    border-radius:8px;
    margin:10px 0; 

 }
 .p{
    color: rgb(3, 3, 3);
 }
 .info{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
 }
 .info-item{
    background-color: #2e2e2e;
    border-radius: 8px;
    display: flex;
    justify-content:space-around ;
    align-items: center;
    color: white;
    height: 180px;
    width: 280px;
    position: relative;
    left: 65px;
}
.info-item:hover{
    background-color: #333;
}
.icondash{
    font-size: 50px;
}
.data{
    text-align: center;

}
.data span{
    font-size: 35px;
}
.data p{
    font-size: 20px;
    color: white;
}
.voir-plus{
    color: #000000;
    font-size: 15px;
    position: relative;
    left:1225px;
    border-bottom: #000000 solid 2px;
}

  

  
 

  
 
  
  
/*  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
:root{
    --main-color: #11101d;
    --color-dark: #1D2231;
    --text-grey:  #8390A2;
  }
  
  .sidebar{
    width: 250px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 100; 
    background: var(--main-color);
    transition: width 300ms;
  
  }
  .sidebar-brand{
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;

  }
  .sidebar-brand span{
    display: inline-block;
    padding-right: 1rem;

  }
  .sidebar-menu li{
    width: 100%;
    margin-bottom: 1.7rem;
    padding-left: 1rem;
    list-style: none;
  
  }
  .sidebar-menu{
    margin-top: 100px;

  

  }
  .sidebar-menu .linkk{
    padding-left: 2rem;
    display: block;
    color: #fff;
    font-size: 1.1rem;
    text-decoration: none;
    padding: 10px;
    
  }
  #nav-toggle:checked + .sidebar {
    width: 70px ;
  
  }
  #nav-toggle:checked + .sidebar .sidebar-brand,
  #nav-toggle:checked + .sidebar li 
  {
    padding-left: 1rem;
    text-align: center;
  }
  #nav-toggle:checked + .sidebar li .linkk
  {
    padding-left: 0rem;
  }
  .linkk{
    color: white;
  }
  
  .sidebar-menu span {
    display: block; /* Assurez-vous que les éléments <span> sont affichés en bloc pour occuper toute la largeur */
  }

  .pest{
    
    color:var(--bs-primary) ;
  }
  .kit{
    position: fixed;
    left: 120px;
    color: #fff; 
  }
  .sidebar-menu span:hover
   {
   
    color: var(--bs-primary);

    transition: .6s ; 
  
  }
  
  
  
  
  #nav-toggle:checked ~ .main-content {
    margin-left: 70px;
  
  }
  #nav-toggle:checked ~ .main-content  header{
    width: calc(100% - 70px);
    left:70px;
  
  }
  .main-content{
    transition: margin-left 300ms;
    margin-left: 345px;
  }
  header{
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 270px;
    top:0;
    z-index: 100; 
    width: calc(100% - 345px);
    transition: left 300ms;
    }
  
  #nav-toggle{
    display: none;
  }
  header h2{
    color: #222;
  }
  header label span{
    font-size: 1.7rem;
    padding-right: 1rem;
  }
  .search-wrapper {
    border: solid 1px var(--bs-primary);
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
  }
  .search-wrapper span{
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
  }
  .search-wrapper input{
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
  
  }
  .user-wrapper{
    display: flex;
    align-items: center;
  }
  .user-wrapper img{
    border-radius: 50%;
    margin-right: .5rem;
  }
  
  .user-wrapper small{
    display: inline-block;
    color: var(--text-grey);
    margin-top: -1px !important;
  
  }

  main{
    margin-top: 85px;
    padding: 2rem 1.5rem;
    background: #f1f5f9;
    min-height: calc(100vh - 90px);
  }
  .cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
    left: 310px;
    width: 350px;
    position: relative;
  }

    
  
  .card-single{
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 2rem;
    width: 250px;
    border: solid 1px  var(--bs-primary);
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
  }
  .card-single div:last-child span{
    color: var(--main-color);
    font-size: 3rem;
  
  }
  .card-single div:first-child span{
    color: var(--text-grey);
    
  
  }
  .card-single:last-child{
    background:white;
  }
  .card-single:last-child h1,
  .card-single:last-child div:first-child span,
  .card-single:last-child div:last-child span
  {
    color: var(--main-color);
  }
  
  .recent-grid{
    margin-top: 3.5rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 65% auto;
    position: fixed;
    left: 300px;
    width: 1700px;
   
  }
  .card{
    background: #fff;
    border-radius: 12px;
     box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
    padding: 1rem;
  }

  .card-header
  {
   
    padding: 1rem;
  }
  .card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
  }
  .card-header button{
    background: var(--main-color);
    border-radius: 10px;
    color: #fff;
    font-size: .8rem;
    padding: .5rem 1rem;
    border:1px solid var(--main-color);
  }
  .table{
    border-collapse: collapse;
  }
  .thead .tr{
    border-top: 1px solid #f0f0f0;
    border-bottom:2px solid #f0f0f0;
  
  }
  thead .td{
    font-weight: 700;
  }
  .td{
    padding: .5rem 1rem ;
    font-size: .9rem ;
    color: #222;
    
  }
  
  .tr .td:last-child{
    display: flex;
    align-items: center;
  
  
  }
 
 
  .table-responsive{
    width: 100%;
    overflow-x: auto;
  }
 
  
  
  @media only screen and (max-width: 1200px){
  
    .sidebar{
      width: 70px ;
    }
    .sidebar .sidebar-brand,
    .sidebar li 
    {
      padding-left: 1rem;
      text-align: center;
    }
    #nav-toggle:checked + .sidebar li a
    {
      padding-left: 0rem;
    }
    .sidebar .sidebar-brand h1 span:last-child,
    .sidebar li a span:last-child{
      display: none;
  
    }
    
    .main-content {
    margin-left: 70px;
  
    }
    .main-content  header{
      width: calc(100% - 70px);
      left:70px;
  
    }
  }
  
  @media only screen and (max-width: 960px){
    .cards{
      grid-template-columns: repeat(3, 1fr);
    }
    .recent-grid{
      grid-template-columns: 60% 40%;
    }
  }
  
  @media only screen and (max-width: 768px){
    .cards{
      grid-template-columns: repeat(2, 1fr);
    }
    .recent-grid{
      grid-template-columns: 100%;
    }
    .search-wrapper{
      display: none;
    }
    .sidebar {
      
      left: -100% !important;
    }
    header h2{
      display: flex;
      align-items: center;
    }
    header h2 label{
      display: inline-block;
      text-align: center;
      background: var(--main-color);
      padding-right: 0rem;
      margin-right: 1rem;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center !important;
    }
    header h2 span{
      text-align: center;
      padding-right: 0rem;
    }
    header h2{
      font-size: 1.1rem;
    }
    .main-content{
      width: 100%;
      margin-left: 0rem;
    }
    header{
      width: 100% !important;
      left: 0 !important;
    }
    #nav-toggle:checked + .sidebar{
      left: 0 !important;
      z-index: 100;
      width: 345px;
    }
    
    #nav-toggle:checked .sidebar .sidebar-brand,
    #nav-toggle:checked + .sidebar li 
    {
      padding-left: 2rem;
      text-align: left;
    }
  
    #nav-toggle:checked + .sidebar li a
    {
      padding-left: 1rem;
    }
    #nav-toggle:checked  + .sidebar .sidebar-brand h1 span:last-child,
    #nav-toggle:checked + .sidebar li a span:last-child{
      display: inline;
  
    }
    #nav-toggle:checked ~ .main-content{
      margin-left: 0rem !important;
    }
  }
  @media only screen and (max-width: 560px){
    .cards{
      grid-template-columns: 100%;
    }
  }




/* CSS pour le composant de gestion des clients */

.clients-container {
  max-width: 800px;
  margin: auto;
  
}

.title-infoCL {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.p {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}



.h1 {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}



.tab {
  width: 1000px;
  border-collapse: collapse;
  position: fixed;
  left: 400px;
  top: 160px;
}

.the {
  background-color: white;
  
}

.thc, .tdc {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.thc {
  font-weight: bold;
  color: black;
}

.trt:nth-child(even) {
  background-color: #f9f9f9;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}


/* Icon style */
svg {
  width: 20px;
  height: 20px;
}




  

.avispas {
  
  position: fixed;
  border-collapse: collapse;
  left: 400px;
  top: 160px;
  margin: auto;
}
.tabav{
  width: 1000px;
}

.theav {
  background-color: white;
  
}

.thcav, .tdcav {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.thcav {
  font-weight: bold;
  color: black;
}

.trtav:nth-child(even) {
  background-color: #f9f9f9;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}


.inp {
  --s: 21px; /* adjust this to control the size*/
  
  height: calc(var(--s) + var(--s)/5);
  width: auto; /* some browsers need this */
  aspect-ratio: 2.25;
  border-radius: var(--s);
  margin: calc(var(--s)/2);
  display: grid;
  cursor: pointer;
  background-color:#ff7a7a;
  box-sizing: content-box;
  overflow: hidden;
  transition: .3s .1s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
  

}
.inp:before{
  content: "";
  padding: calc(var(--s)/10);
  --_g: radial-gradient(circle closest-side at calc(100% - var(--s)/2) 50%,#000 96%,#0000);
  background: 
    var(--_g) 0 /var(--_p,var(--s)) 100% no-repeat content-box,
    var(--_g) var(--_p,0)/var(--s)  100% no-repeat content-box,
    #fff;
  mix-blend-mode: darken;
  filter: blur(calc(var(--s)/12)) contrast(11);
  transition: .4s, background-position .4s .1s,
    padding cubic-bezier(0,calc(var(--_i,-1)*200),1,calc(var(--_i,-1)*200)) .25s .1s;
}
.inp:checked {
  background-color: #85ff7a;
}
.inp:checked:before {
  padding: calc(var(--s)/10 + .05px) calc(var(--s)/10);
  --_p: 100%;
  --_i:1;
}



.doclist{
  
  position: fixed;
  border-collapse: collapse;
  left: 400px;
  top: 160px;
  margin: auto;
}
.tabdoc{
  width: 1000px;
}

.thedoc {
  background-color: white;
  
}

.thdoc, .tddoc{
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.thdoc {
  font-weight: bold;
  color: black;
}

.trdoc:nth-child(even) {
  background-color: #f9f9f9;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}




.deman{
  
  position: fixed;
  border-collapse: collapse;
  left: 400px;
  top: 160px;
  margin: auto;
}
.tabdem{
  width: 1000px;
}

.thdem {
  background-color: white;
  
}

.thdem, .tdem{
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.thdem {
  font-weight: bold;
  color: black;
}

.trdem:nth-child(even) {
  background-color: #f9f9f9;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}


.add-client-link{
  text-decoration: none;
  position: fixed;
  top: 15px;
  left:1325px;
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid var(--bs-primary);
  color: black;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}
.add-client-link:hover {
  
  color: #4b4b4b;
}
.search{
  position: fixed;
  left: 845px;
  border: solid 1px var(--bs-primary);
  border-radius: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}
.search span{
display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
}
.search input{
  height: 100%;
  padding: .5rem;
  border: none;
  outline: none;

}
.form {
  width: 600px;
  position: fixed;
  top: 180px;
  left: 300px;
 
  /* Valeurs de l'ombre */
}

.container{
 
  width: 600px;
  padding: 25px 40px 10px 40px;
 
 
  
}
.container .text{
  text-align: center;
  font-size: 41px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  -webkit-text-fill-color: transparent;
}
.container .form{
  padding: 30px 0 0 0;
}
.container .form .form-row{
  display: flex;
  margin: 32px 0;
}
.form .form-row .input-data{
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}

.input-data input{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
}

.input-data input:focus ~ label, 
.input-data input:valid ~ label{
  transform: translateY(-30px);
  font-size: 14px;
  color:black;
}

.input-data label{
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.input-data .underline{
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.input-data .underline:before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: var(--bs-primary);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before{
  transform: scale(1);
}
.submit-btn .input-data{
  overflow: hidden;
  height: 45px!important;
  width: 25%!important;
}
.submit-btn .input-data .inner{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: var(--bs-primary);
  transition:  0.4s;
}
.submit-btn .input-data:hover .inner {
  left: 0; /* Pour faire apparaître l'élément .inner au survol */
}
.submit-btn .input-data:hover input {
  color: var(--bs-primary);
  background-color: #000; 
  transition: 0.6s;
 /* Changement de couleur du texte au survol */
}
.submit-btn .input-data input{
  background: none;
  border: none;
  color:black;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
@media (max-width: 700px) {
  .container .text{
    font-size: 30px;
  }
  .container .form{
    padding: 10px 0 0 0;
  }
  .container .form .form-row{
    display: block;
  }
  .form .form-row .input-data{
    margin: 35px 0!important;
  }
  .submit-btn .input-data{
    width: 40%!important;
  }
}
.input-data input:focus {
  outline: none; /* Enlève la bordure de focus */
}


.imggg {
  position: fixed;
  left: 1000px;
  top: 120px;
  width: 900PX; /* Définir la largeur de l'image */
  height: auto; /* Laisser la hauteur se dimensionner automatiquement pour maintenir les proportions */
}
.imgggav{
  position: fixed;
  left: 1000px;
  top: 200px;
  width: 900PX; /* Définir la largeur de l'image */
  height: auto; 
}
.imgggdoc{
  position: fixed;
  left: 1000px;
  top: 170px;
  width: 900PX; /* Définir la largeur de l'image */
  height: auto; 
}
.radio{
  display: block;
  cursor: pointer; 
  user-select:none;
  text-align: left;
  &+.radio{
    margin-top: 12px;
  }
  input{
    display: none;
    &+span{
      display: inline-block; 
      position: relative;
      padding-left: 30px;
      &:before{
        content: '';
        display: block; 
        position: absolute;
        top: 0px;
        left: 0px;
        border-radius: 50%;
        margin-right: 5px;
        width: 16px;
        height: 16px;
        border: 1px solid #ccc;
        background: #fff;
      }
      &:after{
        content: '';
        display: block; 
        width: 10px;
        height: 10px;
        background: #222;
        position: absolute;
        border-radius: 50%;
        top: 3px;
        left: 3px;
        opacity: 0;
        transform: scale(0,0); 
        transition: all .2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
      }
    }
    &:checked+span:after{
      opacity: 1;
      transform: scale(1,1);
    }
  }
}

/* Ajoutet avis */

.inputav {
  padding: 8px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  font-size: 14px;
  background-color: #fff;
  outline: none;
  transition: border-color .3s ease;
}

.inputav:focus,
.inputav:focus-within {
  border-bottom: 2px solid var(--bs-primary)
}

.inputav::-webkit-calendar-picker-indicator {
  background-color: var(--bs-primary);
  color: #fff;
  border: none;
  border-radius: 0;
  padding: 5px;
}

.inputav::-webkit-inner-spin-button {
  display: none;
}

.inputav::-webkit-calendar-picker-drop-down {
  border: 1px solid #ccc;
  border-radius: 0;
  background-color: #fff;
}



.form-group .inputav select {
  appearance: none;
  border: none;
  background-color: transparent;
  width: calc(100% - 20px);
  padding: 8px;
  font-size: 14px;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
  transition: border-color 0.3s ease;
}

.form-group .inputav select option {
  padding: 8px;
  font-size: 14px;
  background-color: #fff;
  color: #322828;
}

.form-group .inputav select option:hover {
  background-color: #f0f0f0;
}
.form-group {
  margin-bottom: 20px; /* Espacement entre chaque groupe de formulaire */
}
.radio-buttons label {
  margin-right: 15px; /* Espacement entre les boutons radio et leur label */
}






.form-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
}


.form-row .input-data .selectdoc {
  border: none; /* Supprime la bordure existante */
  border-bottom: 2px solid rgba(0,0,0, 0.12);/* Ajoute une bordure en bas */
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

/* Style pour le label */
.label {
  margin-bottom: 5px; /* Ajoute un espacement entre le label et le select */
}

/* Stylisation pour le focus */
.form-row .input-data .selectdoc:focus {
  outline: none; /* Supprime l'outline par défaut */
  border-color: var(--bs-primary); /* Change la couleur de la bordure en cas de focus */
}




.containerrrr{
  position: relative;
  left: 500px;
}



.ico{
  width: 80px;
  height: 40px;
  border-radius:100%;
}


